/* //////// RESET ///// */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
}

nav ul {
  list-style: none;
}


.selector-for-some-widget {
  box-sizing: content-box;
}


/* ///////BODY/////// */


body {
  background: #000;
  height: 100%;
}

.section-img {
  max-width: 600px;
  width: 100%;
}

/* /////////////HEADER-BURGER/////////////////// */

.header-main {
  background-color: #171717;
  border-bottom: 1px solid rgba(51, 51, 51, .25);
  font-family: "FF Mark W05", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: bold;
  height: 76px;
  line-height: normal;
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  z-index: 3000000;
}

.burgBar {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  height: 40px;
  width: 44px;
}

.line {
  width: 84%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index: 1;
}

.line1 {
  top: 30%;
}

.line3 {
  top: 70%;
}

.navbar li {
  padding: 20px;
  text-align: center;
  margin-right: 4px;
}
nav{
  display: flex;
  justify-content: flex-end;
}


.ul-style {
  display: flex;
}

.navbar li a {
  color: #fff;
  text-transform: uppercase;
}

.navbar li a:hover {
  color: #3b5999;
  text-decoration: none;
  transition: 0.5s;
}

.header-main a {
  color: #f5f5f5;
  font-size: 18px;
}


/* ////////////////RESPONSIVE-CSS FOR BURGER ////////////// */

@media(max-width:1024px) {
  .btn-div{
    display: none;
  }}

@media(max-width:768px) {
  .navbar {
    display: none;
  }

  

  .burgBar {
    display: block;

  }

  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F4FDD9;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 1;
  }

  .side-menu.active {
    transform: translateX(0);
  }

  .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .side-menu li {
    margin: 20px;
  }


  .header-main {
    flex-direction: column;
  }

  .navbar.visible {
    display: block;
  }


  .activeBurgerBar .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .activeBurgerBar .line2 {
    display: none;
  }

  .activeBurgerBar .line3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


  .ul-style {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 50px;
    margin-top: 200px;
  }

  .ul-style a {
    color: #171717;
    text-transform: uppercase;
    cursor: pointer;
  }

  .ul-style a:hover {
    color: #cc491d;
    text-decoration: none;
    cursor: pointer;
  }

  /* .side-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
    } */
  .navbar.visible {
    transform: translateX(0);

  }

  .container .first-page-imgs {
    display: none;
  }

  .container-list {
    display: none;
  }

  .container {
    margin-left: 40px;
  }

}

/* //////////////////////////// */






.logo {
  display: flex;
  width: 110px;
  position: absolute;
  left: 20px;
  top: 0;
}


.container {
  display: flex;
  justify-content: center;
  box-shadow: #171717;
}


.box {
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 50px;

}

.box h2 {
  margin-top: 0;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content-h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  position: sticky;
  font-size: 12px;
  background-color: #000;
}


.second-h2-content {
  text-transform: uppercase;
  margin-top: 100px;
}



.robokop-image {
  width: 80%;
  height: 85%;
  object-fit: cover;
  margin-left: 200px;
}



.container-2 {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}


.second-h2-content {
  font-size: 18px;
}


.container-list {
  text-align: left;
  width: 40%;
  margin-top: 9%;
}

.container-list h2 {
  margin-bottom: 0;
}

.container-list ul {
  list-style: none;
  padding: 0;
}

.container-list img {
  width: 25%;
  height: auto;
}


.list-content-h2 {
  font-size: 17px;
}

.container-2 ul li {
  margin-top: 10px;
  font-weight: 500;
  padding: 2px;

}

.first-digital-space-h2 {
  font-size: 28px;
}

.onyx-span {
  font-weight: 600;
  text-transform: uppercase;
}

.bodybild {
  margin-left: 200px;
}

.content-2-training {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 186, 186);
}

.training-pic {
  max-width: 800px;
  width: 100%;
  order: -1;
}

.text-window {
  width: 700px;
  height: 300px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}



.row h3 {
  display: flex;
  justify-content: center;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}


.row {
  width: 100%;
  margin: 0 auto;
}

.col-4 {
  width: 33.3333%;
}




.container-grid {
  margin-top: 100px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.1fr 1.1fr;
  grid-template-rows: 1.1fr 1.1fr;
  gap: 10px 40px;
  grid-template-areas:
    "image-1 image-2"
    "image-3 image-4";
  background-color: #00ffaa;
  text-align: center;
  vertical-align: middle;
}


.container-grid p {
  margin-top: 10px;
}

.image-1 img,
.image-2 img,
.image-3 img,
.image-4 img {
  margin-top: 20px;
  width: 100%;
  height: 50%;

}


.grid-content-h2 {
  font-size: 24px;
  color: #cf4444;

}

@media only screen and (max-width: 768px) {
  .container-grid {
    display: block;
  }

  .col-sm-4 {
    padding: 20px;
  }

  .content-3-training {
    width: 100%;
  }

  .robokop-image {
    width: 100%;
    margin: 0 auto;
  }

  #section-five .right-side {
    order: 2;
  }

  #section-five .right-side h2 {
    width: 40rem;
    font-size: 3.5rem;
    line-height: 4.2rem;
  }

  #section-five .left-side img {
    height: 38rem;
    width: 38rem;
    margin-top: 5rem;
  }

  .video-container .video {
    max-width: 100%;
    margin: auto;
  }
}

.main-custom-video {
  max-width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}



.col-sm-6.col-md-4.col-lg-3 img {
  width: 100.05%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  cursor: pointer;
}

.col-sm-6.col-md-4.col-lg-3:hover img {
  width: 101%;
}



/* ------------------- our 7th section social media css style 
  ------------------------------------ */

.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.icon-bar a {
  width: 18rem;
  background: #3b5999;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.7rem;
  padding: 0.5rem;
  transition: all 0.5s linear;
  transform: translateX(-14.5rem);
}

.icon-bar a:hover {
  transform: translateX(0);
}

.icon-bar a .fab {
  padding-left: 1rem;
  font-size: 3rem;
  animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(0.9);
  }
}

.icon-bar .twitter {
  background: #00aced;
}

.icon-bar .instagram {
  background: #e4405f;
}

.icon-bar .youtube {
  background: #cd201f;
}

.icon-bar .linkedin {
  background: #0077b5;
}

footer {
  width: 100%;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: none;
}

footer .footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-menu h4 {
  font-size: 1.5rem;
}

/* icons bar  */
.icon-bar {
  top: 35%;
}

.common-section {
  width: 100%;
  height: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 9rem;
  padding: 0 20rem;
}

.common-section .left-side {
  width: inherit;
  height: inherit;
}

.common-section .left-side figure {
  width: 20rem;
  height: 65rem;
  background: #f3f9ff;
  border-radius: 20px;
}

.common-section .left-side img {
  width: 45rem;
  height: 60rem;
  border-radius: 2rem;
  margin-left: 10rem;
  margin-top: 2.5rem;
}


/* ------------------- our 2nd section right side css style 
  ------------------------------------ */

/* ------------------- our 3rd section  css style 
  ------------------------------------ */

.section-third {
  width: 100%;
  height: 60%;
  padding: 3rem 20rem;
}

.section-third h2 {
  font-size: 5.5rem;
  margin-bottom: 1rem;
  margin-top: 24px;
  text-align: center;
}

.section-third p {
  width: 40rem;
  height: 9rem;
  margin-bottom: 3rem;
  text-align: center;
  margin: auto;
}

.section-third .section-third-task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  cursor: pointer;
}

.section-third .section-third-task .task-1,
.section-third .section-third-task .task-2,
.section-third .section-third-task .task-3 {
  max-width: 1000px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  margin: 50px auto !important;
  transition: all 0.3s linear;
  border-radius: 2rem;
  background-color: #DE3C4B;
}


@media (max-width: 1000px) {

  .section-third .section-third-task .task-1,
  .section-third .section-third-task .task-2,
  .section-third .section-third-task .task-3 {

    width: 100%;

  }

  .section-third .section-third-task .task-1 p,
  .section-third .section-third-task .task-2 p,
  .section-third .section-third-task .task-3 p {
    display: none;

  }

  .mshobeli {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto !important;
  }

}


.section-third .section-third-task .task-1 h3,
.section-third .section-third-task .task-2 h3,
.section-third .section-third-task .task-3 h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img,
.section-third .section-third-task .task-3 img {
  width: 15rem;
  height: 15rem;
  transition: all 0.3s;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img {
  height: 16rem;
}

.section-third .section-third-task .task-3 {
  background-color: #87F5FB;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}

.section-third .section-third-task .task-1:hover,
.section-third .section-third-task .task-2:hover {
  background: #f4a261;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}

.section-third .section-third-task .task-1:hover>img,
.section-third .section-third-task .task-2:hover>img,
.section-third .section-third-task .task-3:hover>img {
  transform: rotate(360deg);
  transition: 0.5s;
}

.section-third {
  height: auto;
  padding: 0 5rem;
  padding-bottom: 5rem;
}

.section-third h2 {
  width: auto;
  padding: 0 1rem;
  font-size: 3rem;
  line-height: 6rem;
  padding-top: 4rem;
}

.section-third .section-third-task {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 4rem;
  padding: 0;
  margin-left: -2rem;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img,
.section-third .section-third-task .task-3 img {
  width: 15rem;
  height: 15rem;
}

.section-third .section-third-task .task-2 {
  margin: 2rem 0;
}

.footer-container {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%
}

#section-five .left-side img {
  margin: 0;
}

#section-five .right-side {

  padding-top: 5rem;
}

#section-five .right-side h2 {
  width: 63rem;
  font-weight: 900;
  font-size: 4rem;
  line-height: 6.3rem;
}

#section-five .right-side h3 {
  text-transform: none;
}

#section-five .right-side p {
  height: 3rem;
}

#section-five .right-side div {
  margin-bottom: 5rem;
}

.fa-heart {
  color: #f75d5d;
}

.video-autoplay video {
  width: 100%;
  height: 100%;
}


* accordion styles */
/* .accrodion-container {
  width: 100%;
  padding: 0;
}

.accordion-title {
  position: relative;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: height 0.5s ease-in-out;
}

.accordion-title:before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 26px;
  color: #171717;
}


.accordion-content {
  height: 150px;
  display: none;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
  transition: height 0.5s ease-in-out;
}

.acc-accordion.active .accordion-content {
  display: block;
}

.acc-accordion.active .accordion-title:before {
  content: '-';
}

.acc-accordion {
  margin-bottom: 30px;
  padding: 20px;
  cursor: pointer;
  border-radius: 2%;
  background-color: #38c4dd;
}

.acc-accordion:hover {
  background-color: #00aecd;
}



@media(max-width:768px) {
  .accrodion-container {
    width: 100%;
    height: 36vh;
  }
} */

.accordion {
  width: 100%;
}

.accordion-title {
  cursor: pointer;
  background-color: #eee;
  padding: 16px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.accordion-title::after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 26px;
  color: #171717;
}






.accordion-content {
  display: none;
  /* hides the content by default */
  background-color: #f1f1f1;
  padding: 16px;
  width: 800px;

}

.accordion-title:hover {
  background-color: #ddd;
}

.accordion-title.active {
  background-color: #ddd;
  width: 800px;
  content: '-';

}

.accordion-title.active+.accordion-content {
  display: block;
  /* shows the content when the title is clicked */
}





/* // btn btn  */

.middle {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  float: right; /* float the buttons to the right side of the element */
  background: none;
  border: 1px solid #000;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.btn-div{
  position: absolute;
  right: 0;
}
.btn:hover {
  color: #fff;
}

.btn a {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  list-style: none;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ae4747;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn1::before {
  transform: scaleX(0);
}

.btn2::before {
  transform: scaleY(0);
}

.btn1:hover::before {
  transform: scaleX(1);
}

.btn2:hover::before {
  transform: scaleY(1);
}


/* //ofer box// */


.card {
  margin: 20px;
  padding: 8px;
  width: 300px;
  background-color: #fbfbfb;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.card img {
  display: block;
  width: 100%;
  width: 100%;
  max-height: 300px;
  /* specify a maximum height */
  object-fit: cover;
  /* preserve the aspect ratio and fill the available space */
}


.card-info {
  padding: 15px 0 7px;
  text-align: center;
}

.card-info h6 {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

.card-info span {
  margin-bottom: 5px;
  color: #888888;
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.card-info a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 8px 2px 0;
  color: #111111;
  background-color: #f7f7f7;
  border-radius: 50%;
  font-size: 15px;
  text-decoration: none;
  line-height: 30px;
  transition: all 0.5s;
}

.card-info a:hover:nth-child(1) {
  color: #ffffff;
  background-color: #1877f2;
}

.card-info a:hover:nth-child(2) {
  color: #ffffff;
  background-color: #e1306c;
}

.card-info a:hover:nth-child(3) {
  color: #ffffff;
  background-color: #1da1f2;
}

.card-info a:hover:nth-child(4) {
  color: #ffffff;
  background-color: #e60023;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 600px) {
  .card-container {
    flex-wrap: wrap;

  }
}

.parallax {
  /* The image used */
  background-image: url("https://images.squarespace-cdn.com/content/v1/5e5587a0d35cd344f1a56fbd/1591638460200-4JWNHPOKQ7198O5VRY22/pic%2B2.jpg?format=2500w");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .content-2-training {
  background-image: url('img/hero-cont-1.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-2-training {
  height: 100vh;
  width: 100%;
}

.text-window {
  z-index: 1;
  transform: translateZ(1px);
} */


.flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  font-size: 100px;
  font-weight: 800;
}


.content-3-training {
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
}

.content-3-training p {
  color: white;
}

.main-cont-f1 {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.content-5-training{
  width: 100%;
  height: 700px;
  background-color: #000;
 position: relative;
}

.scren{
  max-width: 500px;
  width: 100%;
 margin: 0 auto;
}

.back-blackbox{
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.screen-div {
  text-align: center; /* align the inner elements horizontally */
}

.scren {
  display: block; /* treat the image as a block element */
  margin: 0 auto; /* center the image horizontally */
  max-width: 500px;
  width: 100%;
}

